:root {
    --main-light-color: #ffffff;
    --main-text-color: #555555;
    --accent-color: ;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-light-color);
    color: var(--main-text-color);
    font-size: 11px;
    font-weight: 600;
  }
  
  .header {
    background-color: #ffffff;
    font-weight: 400;
  }
  
  .portfolio-header {
    color: green;
  }
  
  .link {
    text-decoration: none;
  }
  
  .current {
    color: #ff6c00;
  }
  
  .menu-link {
    background-color: #ff6c00;
  }

  /* Header*/
.container {
  width: 1170px;
  padding-left: 0 15px;
  margin: 0 auto;
}

/*________________________________________________*/
  .nav-link {
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.1em;

    color: var(--main-light-color);
  }
.list {
    list-style: none;
}
.nav-link.current,
.nav-link:hover,
.nav-link:focus {
color: var(--accent-color);
}