body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

/* about{
font-weight: 600;
font-size: 12px;
line-height: 1.33; (16px/12) = 1.33
letter-spacing: 0.1em;

color: #FF6C00; 
*/
/*tel {
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FFFFFF;

} */